<!doctype html>
<html lang="en" class="h-100">

<head>
    <% include ../views/include/head %>
</head>

<body class="d-flex flex-column h-100">
    <% include ../views/include/nav %>
    <main role="main" class="flex-shrink-0 mt-5">
        <div class="container">
            <h1>Data <small>search & analyse</small></h1>
            <div class="row">
                <div class="col">
                    <h2>Batches</h2>
                    <ul class="list-unstyled">
                        <% for(batch of batches) { %>
                        <li class="media data-media">
                            <div class="media-body">
                                <span class="media-body-header"><i class="fas fa-fingerprint"></i>: <%- batch.batch_id %></span>
                                <br>
                                <i class="far fa-file" title="Payload"></i>:<br>
                                <pre class="media-body-payload"><%- PrintJSON("{\"transaction_ids\":"+batch.transaction_ids+"}" ) %></pre>
                                <span class="text-muted"><i class="fas fa-key" title="public key"></i>: <i><%- batch.signer_public_key %></i></span>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <% include ../views/include/footer %>
<script>
$(".media-body-payload").each(function() {
    try {
      var tmp = JSON.parse($(this).text());
      $(this).jsonViewer(tmp, {
            collapsed: false,
            withQuotes: false,
            //withLinks: false,
            //rootCollapsable: true
        });
    } catch(e) {
    }
})
</script>
</body>
</html>