<!doctype html>
<html lang="en" class="h-100">

<head>
    <% include ../views/include/head %>
</head>

<body class="d-flex flex-column h-100">
    <% include ../views/include/nav %>
    <main role="main" class="flex-shrink-0 mt-5">
        <div class="container">
            <h1>Configuration <small>& tools</small></h1>
            <div class="row">
                <div class="col">
                    <h4>Config:</h4>
                    <ul>
                        <li>api url: <span class="edit-content" id="config-apiurl" contenteditable="true"><%- config.sawtooth.apiurl %></span> <button class="btn btn-sm btn-outline-success" id="save-config-apiurl">SAVE</button></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Tools:</h4>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-sm btn-outline-success" id="reload-website">Reload (pm2)</button>
                        <button class="btn btn-outline-secondary btn-sm" id="refresh-db">Refresh database</button>
                        <button class="btn btn-outline-secondary btn-sm" id="force-refresh-db">Force refresh database</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include ../views/include/footer %>
    <script>
    $("#refresh-db,#force-refresh-db").click(function() {
        var btn = $(this)
        var btn_txt = btn.text();
        btn.addClass("disabled");
        btn.text("loading...");
        $("#loading").removeClass("d-none");
        $.ajax({
            type: "POST",
            url: (btn.attr("id").indexOf("force")!=-1 ? "/force-update-db" : "/update-db"),
            data: {},
            dataType: "json",
            success: function (data) {
                btn.removeClass("disabled");
                btn.text(btn_txt);
                window.location.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                btn.removeClass("disabled");
                btn.text(btn_txt);
                return alert("ERROR: \n" + XMLHttpRequest.responseText);
            }
        });
    })
    $("#save-config-apiurl").click(function() {
        $("#loading").removeClass("d-none");
        $.ajax({
            type: "POST",
            url: window.location.href + "/apiurl",
            data: {
                apiurl: $("#config-apiurl").text()
            },
            dataType: "json",
            success: function (data) {
                setTimeout(function(){
                    window.location.reload();
                }, 2000);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                return alert("ERROR");
            }
        });
    })
    $("#reload-website").click(function() {
        $("#loading").removeClass("d-none");
        $.ajax({
            type: "POST",
            url: window.location.href + "/reload-website",
            data: {},
            dataType: "json",
            complete: function (data) {
                setTimeout(function(){
                    window.location.reload();
                }, 2000);
            }
        });
    })
    </script>
</body>
</html>