<footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Made by <a href="//www.gerrits-luc.com" target="_blank">Luc Gerrits</a></span>
    </div>
</footer>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/assets/json-viewer/jquery.json-viewer.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

    <script>
    $("#refresh-db,#force-refresh-db").click(function() {
        var btn = $(this)
        var btn_txt = btn.text();
        btn.addClass("disabled");
        btn.text("loading...");
        $.ajax({
            type: "POST",
            url: (btn.attr("id").indexOf("force")!=-1 ? "/force-update-db" : "/update-db"),
            data: {},
            dataType: "json",
            success: function (data) {
                btn.removeClass("disabled");
                btn.text(btn_txt);
                window.location.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                btn.removeClass("disabled");
                btn.text(btn_txt);
                return alert("ERROR: \n" + XMLHttpRequest.responseText);
            }
        });
    })

    function getSelectionText() {
        var text = "";
        if (window.getSelection) {
            text = window.getSelection().toString();
        } else if (document.selection && document.selection.type != "Control") {
            text = document.selection.createRange().text;
        }
        return text;
    }
    $(function() {
        $.contextMenu({
            selector: '.context-menu-one',
            events: {
                show: function(options) {
                    var selection = getSelectionText();
                    if (selection && selection!="") {
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            callback: function(key, options) {
                if(key == "search") {
                    var selection = getSelectionText();
                    if(selection!="")
                    {
                        $("#search-data-query").val(selection.replace(/\ /gmi, ""));
                        $("#search-data").submit();
                    } else {
                        return false;
                    }
                } else if(key == "copy") {
                    document.execCommand("copy");
                }
            },
            items: {
                "search": {name: "Search", icon: "search"},
                "copy": {name: "Copy", icon: "copy"},
                "sep1": "---------",
                "quit": {name: "Quit", icon: function(){
                    return 'context-menu-icon context-menu-icon-quit';
                }}
            }
        });
    });




    </script>