body {
    padding: 20px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.data {
    position: relative;
    width: 100%;
    border: solid 1px gray;
}

.pointer {
    cursor: pointer;
}

.edit-content {
    border: solid 1px;
    padding: 5px;
}

.data-media {
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
}

.data-media .media-body {
    max-width: 100%;
}

.media-body-header {
    font-size: small;
}

#search-data-query {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width: 200px;
}

#search-data-query:focus {
    width: 30vw;
}

.media-box {
    background-color: #f8f8f8;
    padding: 5px
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.82);
    height: 100%;
}

#loading>span {
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
}