body {
  padding: 20px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.data {
  position: relative;
  width: 100%;
  border: solid 1px gray;
}

.pointer {
  cursor: pointer;
}

.edit-content {
  border: solid 1px;
  padding: 5px;
}

.data-media {
  border-bottom: solid 1px gray;
  margin-bottom: 10px;
}
.data-media .media-body {
  max-width: 100%;
}

.media-body-header {
  font-size: small;
}